.App {
  font-family: sans-serif;

}

.productsHold{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 100% !important;
    justify-content: center;
    position: relative;
    top: 5rem;
    gap: 9rem;
}

*{
  max-width: 100% !important;
  box-sizing: border-box !important;
}



img {
  width: 16rem;
  height: auto !important;
  object-fit: cover !important;
  border-radius: 12px;
 
}


.pageHold{
  display: flex;
  flex-direction: row;
  gap: 4rem;
  cursor: pointer;;
  background: black;
  color: white;
  height: 4rem;
  position: relative;
  top: 20rem;
  justify-content: center;
  text-align: center;
}

.indivitualPageItem{
  width: 2rem !important;
  height: 3rem !important; 
}

.activePageText{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 17rem;
  justify-content: center;
  text-align: center;
}



.spin{
	width: 200px;
	height: 200px;
	border: 5px solid;
	margin: 200px auto;
	border-radius: 50%;
	border-color: #101010 transparent;
	animation: spin 2s linear infinite;

}

@keyframes spin{
	100%{
		transform: rotate(360deg);
	}
}